RewriteEngine on
Options -Indexes 
RewriteCond %{THE_REQUEST} /([^.]+)\.php [NC]
RewriteRule ^ /%1 [NC,L,R]
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^ %{REQUEST_URI}.php [NC,L]
ErrorDocument 403 http://localhost/FEA/errors/403.html
ErrorDocument 404 http://localhost/FEA/errors/404.html
ErrorDocument 500 http://localhost/FEA/errors/500.html
